.explanation { /* just for the explanation */
    max-width: 600px; /* this way you can limit the size of an element */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box {
    border: solid lightblue;
    border-width: 3px 3px 3px 3px;
    display: inline-block; /* this respects the padding  and the roation */
    padding: 5px;
}
.rotate {
    transform: rotate(-45deg); /* this rotates the box */
}

.avatar{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
}

.blurred-avatar {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    filter: blur(2px);
}

img.blurred-avatar:hover{
    filter:blur(0px);
}


table,td, tr{
    width: auto;
    border: 1px solid black;
    border-collapse: collapse;

}

tr.ueberschrift{
    font-weight: 900;
}

tr.zeile{
    text-align: right;
}

div.info{
    width: 500px;
    height: 50px;
    background-color: #a0d6e8;
    color: #1261af;
    border: 1px solid #1a1af1;
}

div.success{
    width: 500px;
    height: 50px;
    background-color: lightgreen;
    color: forestgreen;
    border: 1px solid limegreen;
}

div.warning{
    width: 500px;
    height: 50px;
    background-color: #f1f18e;
    color: saddlebrown;
    border: 1px solid sandybrown;
}

div.error {
    width: 500px;
    height: 50px;
    background-color: #fd9494;
    color: red;
    border: 1px solid darkred;
}

.arrow {
    border: 5px solid #444;
    font-size:0;line-height:0;height:0;padding:0;margin:0;
}

.arrow.down {
    border-right-color:  transparent;
    border-bottom-color: transparent;
    border-left-color:   transparent;
}
.arrow.up {
    border-top-color:    transparent;
    border-right-color:  transparent;
    border-left-color:   transparent;
}
.arrow.left {
    border-top-color:    transparent;
    border-bottom-color: transparent;
    border-left-color:   transparent;
}
.arrow.right {
    border-top-color:    transparent;
    border-right-color:  transparent;
    border-bottom-color: transparent;
}